body {
	background-image: url("../html/plateau_de_jeu_modif.png"), url("../html/img_bg2.png");
	background-size: 1335px 910px, 1950px 1250px;
	background-repeat: no-repeat;	
}
#table1 {
	

	border-collapse: collapse;				
	max-width:1335px;
	max-height:910px;
	text-align : center;

}

td {
	border: 1px ;
	height:89px;
	width:180px

}
	


.pion {
	width:45px;
	height:45px;
}

.plateau {

}
.jouer{
	float : left;
}
	
